BOTUX_ENV=dev
BOTUX_API_HOST=0.0.0.0
BOTUX_API_PORT=8001
BOTUX_LOG_LEVEL=INFO

BOTUX_DB_URI=postgres://botux:botux@127.0.0.1:5432/botux
BOTUX_DB_ECHO=0
BOTUX_DB_AUTO_SCHEMA=0
BOTUX_SKIP_REGISTRY_BOOTSTRAP=0

BOTUX_IO_WORKER_CONCURRENCY=4
BOTUX_CPU_WORKER_CONCURRENCY=2
